@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: rgb(248, 255, 183);
}

h1 {
    margin-top: 48px;
    color: blueviolet;
    font-family: 'Noto Serif', serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#inputFull {
    font-size: 18px;
    font-family: 'Noto Serif', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#numero {
    width: 65px;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(34, 10, 56);
    padding: 5px 0 5px 10px;
}

#botão {
    width: 100px;
    padding: 8px;
    color: blueviolet;
    background-color: rgba(0, 0, 0, 0);
    align-self: center;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid blueviolet;
    border-radius: 10px;
}

h3 {
    font-family: 'Noto Serif', serif;
    color: rgb(34, 10, 56);
    margin: 32px 25px 0 25px;
    text-align: center;
}

#sequencia {
    color: blueviolet;
}